:root{
    --green: #AEDEFC;
    --orange: #FB929E;
    --black: #1e1e1f;
    --white: rgb(255, 255, 255);
    --light-color: #666;
    --box-shadow: .5rem .5rem 0 #AEDEFC;
    --border: .2rem solid rgba(0,0,0,1);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --outline: .1rem solid rgba(0,0,0,1);
} 

.contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 2fr));
    gap: 2rem;
    text-align: center;
}

.contact .box-container .box{
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}

.contact .box-container .box:hover{
    box-shadow: 10px 10px 20px var(--orange);
}

.contact .box-container .box i{
    color: var(--orange);
    font-size: 5rem;
    padding-bottom: .5rem;
    line-height: 1.8;
}

.contact .box-container .box h3{
    color: var(--black);
    font-size: 3.5rem;
    padding: 1rem 0;
}

.contact .box-container .box p{
    color: var(--light-color);
    font-size: 2rem;
    line-height: 1.5;
}

.form .container form{
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow); 
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.form .container form h3{
    text-align: center;
    padding-bottom: 2rem;
    /* text-shadow: var(--text-shadow); */
    text-transform: uppercase;
    color: var(--black);
    font-size: 3.6rem;
    letter-spacing: .4rem;
    color: var(--orange);
}

.form .container form .box{
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--red);
    text-transform: none; 
    padding: 1rem;
    /* box-shadow: 10px 10px 20px grey; */
}

.form .container form .problem{
    width: 100%;
    margin-top: .7rem;
    border: var(--border);
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding:1rem;
    padding-bottom: 10rem;
}