@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --blue: #AEDEFC;
    --red: #FB929E;
    --black: #1e1e1f;
    --white: rgb(255, 255, 255);
    --light-color: #666;
    --box-shadow: .9rem .9rem 0 #AEDEFC;
    --border: .2rem solid rgba(0,0,0,1);
    --text-shadow: .4rem .4rem 0 #FFDFDF;
    --outline: .1rem solid rgba(0,0,0,1);
} 

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", san-serif;  
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .2s linear;
}
 
a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow: scroll;
    scroll-padding: 7rem;
    scroll-behavior: smooth; 
}

section{
    padding: 2rem 9%;
}

h1{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

/* section:nth-child(even){
    background: #f5f5f5;
} */

/* body{
    background: #eee;
} */

.header{
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header, .sticky{
    position: sticky;
    top:0; 
    left: 0; 
    right: 0; 
    z-index: 3;
}

.sticky{
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i{
    color: #FB929E;
}

.header a{
    color: var(--blue);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
    justify-content: space-around;
}

.header .navbar a:hover{
    color: var(--red);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: none;
    color: var(--blue);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    align-items: center;
    height: 100vh;
    width:100%;
    background: url(../assets/petcollage.png) no-repeat;
    background-size:cover;
}

.home .home-content{
    text-align:center;
    flex: 1 1 45rem;
    align-items: center;
    justify-content: center;
    /* padding-left: 15em; */
    /* width: 50%; */
    padding-bottom: 6rem;
}

.petsportallabel{
    text-align:center;
    width:40%;
}


.home .home-content .desc{
    font-size: 6rem;
    color: var(--black);
    text-shadow: var(--text-shadow);
    line-height: 1.8;
    padding: 1rem 0;
}

.home .home-content .desc2{
    font-size: 5rem;
    color: black;
    text-shadow: .4rem .4rem var(--blue);
    line-height: 1.8;
    padding: 1rem 0;
}


.home .home-content p{
    font-size: 2.5rem;
    color: var(--white);
    text-shadow: var(--text-shadow);
    line-height: 1.8;
    padding: 1rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 2.8rem;
    border-top-left-radius: 0;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 5rem;
    /* box-shadow: var(--box-shadow); */
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    background: none;
    overflow: hidden;
    z-index: 0;
}

.btn:hover{
    background: var(--blue);
    border: 1px solid rgb(10, 10, 10);
    color: var(--black);
    transition: .2s ease-in-out;
}


.yespet-title{
    margin-top:7rem;
}
.icons-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.icons-container .icons{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
    cursor: pointer;
}

.icons-container .icons:hover{
    box-shadow: 10px 10px 20px rgb(231, 33, 33);
}

/* .icons-container .icons:hover{
    padding: 0.1px;
} */

.icons-container .icons i{
    font-size: 4.5rem;
    color: var(--red);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 3.2rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color: var(--light-color);
}

.review{
    background: #eee;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.review .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    background: #f9eeea;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    /* border: .5rem solid #fff; */
}

.review .box-container .box h3{
    color: black;
    font-size: 2.2rem;
    padding: .5rem 0;
}

.review .box-container .box .job{
    color: var(--black);
    font-size: 1.8rem;
}

.review .box-container .box .stars i{
    color: var(--red);
    font-size: 1.5rem;
}

.review .box-container .box .text{
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
}

.footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    flex: 1 1 45rem;
}

.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer .footer-content h3{
    font-size: 5.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    font-weight: bolder;
    color: #AEDEFC;
}

.footer .footer-content h3 span{
    color: rgb(40, 8, 156)
}

.footer .footer-content p{
    max-width: 85%;
    margin: 10px auto;
    line-height: 1.8;
    font-size: 2.5rem;
    color: rgb(143, 139, 139);
}

.footer .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer .socials li{
    margin: auto;
}
.footer .socials a{
    text-decoration: none;
    color: #fff;
    /* border: 1.1px solid white; */
    padding: 2.5rem;
    /* border-radius: 50%; */
}
.footer .socials a i{
    font-size: 4.1rem;
    width: 3rem;
    transition: color .4s ease;
}
.footer .socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100;
    padding: 20px;
    /* padding-bottom: 40px; */
    text-align: center;
    flex-wrap: wrap;
}

.footer-bottom p{
    word-spacing: 2px;
    color: #666;
    text-transform: capitalize;
    font-size: 2.5rem;
 }
.footer-bottom p a{
   color:var(--blue);
   font-size: 2.5rem;
   text-decoration: none;
 }
.footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }



@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }
    .home .home-content{
        width: 100%;
        padding-left: 8em;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow:var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out; 
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
    .home .home-content{
        width: 100%;
        padding-left: 4em;
    }
    /* .footer .footer-content p{
        max-width: 85%;
    } */
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    /* .footer .footer-content p{
        max-width: 90%;
    } */
    .footer .socials a i{
        font-size: 3.2rem;
        padding: .5rem;
        width: .5rem;
        margin: auto;
        text-align: center;
    }
}



.butn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 2.8rem;
    border-top-left-radius: 0;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 5rem;
    /* box-shadow: var(--box-shadow); */
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    background: none;
    overflow: hidden;
    z-index: 0;
}

.butn:hover{
    background: var(--blue);
    border: 1px solid rgb(10, 10, 10);
    color: var(--black);
    transition: .2s ease-in-out;
}


hr{
    border: 5px solid black;
}

.goals{
    font-size: 4rem;
    color: var(--black);
    text-shadow: var(--text-shadow);
    line-height: 1.8;
    padding: 1rem 0;
}

.fist-container{
    text-align:center;
}
.fist{
    width:25%;
    height:50%;
}

.moneyforwhat{
    font-size: 4rem;
    color: var(--black);
    text-shadow: var(--text-shadow);
    line-height: 1.8;
    padding: 1rem 0;
}